<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.dandelion.health.care.dao.mapper.MattressHisMapper">

    <resultMap id="BaseResultMap" type="com.boot.dandelion.health.care.dao.entity.MattressHistory">
        <id column="historyId" jdbcType="INTEGER" property="historyId"/>
        <result column="RR" jdbcType="INTEGER" property="RR"/>
        <result column="HR" jdbcType="INTEGER" property="HR"/>
        <result column="wet" jdbcType="VARCHAR" property="wet"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
        <result column="mattressId" jdbcType="VARCHAR" property="mattressId"/>
        <result column="turn" jdbcType="VARCHAR" property="turn"/>
        <result column="date" jdbcType="VARCHAR" property="date"/>
        <result column="alam" jdbcType="VARCHAR" property="alam"/>
        <result column="duration" jdbcType="VARCHAR" property="duration"/>
        <result column="start" jdbcType="VARCHAR" property="start"/>
        <result column="end" jdbcType="VARCHAR" property="end"/>
    </resultMap>

    <sql id="BaseColumnList">
        historyId
        , RR, HR, wet, state, turn, date,alam,mattressId,duration,start,
        end
    </sql>

    <insert id="insert" parameterType="com.boot.dandelion.health.care.dao.entity.MattressHistory">
        insert into mattress_history (RR, HR, wet, state, turn, date, alam, mattressId, duration,start,end)
        values (#{RR,jdbcType=INTEGER}, #{HR,jdbcType=INTEGER}, #{wet,jdbcType=VARCHAR},
                #{state,jdbcType=VARCHAR}, #{turn,jdbcType=VARCHAR}, #{date,jdbcType=VARCHAR}, #{alam,jdbcType=VARCHAR},
                #{mattressId,jdbcType=VARCHAR}, #{duration,jdbcType=VARCHAR}, #{start,jdbcType=VARCHAR}, #{end,jdbcType=VARCHAR})
    </insert>

    <select id="selectByPageAndSearch" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="BaseColumnList"/>
        FROM mattress_history
        WHERE mattressId = #{mattressId, jdbcType=VARCHAR}
        AND date = #{date, jdbcType=VARCHAR}
        <if test="state != null and state != ''">
            AND state = #{state, jdbcType=VARCHAR}
        </if>
        <if test="alam != null and alam != ''">
            AND alam = #{alam, jdbcType=VARCHAR}
        </if>
        ORDER BY historyId
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="selectCountByMattressIdAndDate" resultType="int" parameterType="map">
        SELECT COUNT(*)
        FROM mattress_history
        WHERE mattressId = #{mattressId, jdbcType=VARCHAR}
        AND date = #{date, jdbcType=VARCHAR}
        <if test="state != null and state != ''">
            AND state = #{state, jdbcType=VARCHAR}
        </if>
        <if test="alam != null and alam != ''">
            AND alam = #{alam, jdbcType=VARCHAR}
        </if>
    </select>

    <select id="selectByDateAndMattressId" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="BaseColumnList"/>
        FROM mattress_history
        WHERE mattressId = #{mattressId, jdbcType=VARCHAR}
        AND date = #{date,jdbcType=VARCHAR}
    </select>

    <select id="selectMaxHistoryIdByMattressIdAndDate" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="BaseColumnList"/>
        FROM mattress_history
        WHERE mattressId = #{mattressId, jdbcType=VARCHAR}
        AND date = #{date, jdbcType=VARCHAR}
        ORDER BY historyId DESC
        LIMIT 1
    </select>

    <update id="updateByHistoryId" parameterType="com.boot.dandelion.health.care.dao.entity.MattressHistory">
        UPDATE mattress_history
        SET RR       = #{RR,jdbcType=INTEGER},
            HR       = #{HR,jdbcType=INTEGER},
            wet      = #{wet,jdbcType=VARCHAR},
            state    = #{state,jdbcType=VARCHAR},
            turn     = #{turn,jdbcType=VARCHAR},
            date     = #{date,jdbcType=VARCHAR},
            alam     = #{alam,jdbcType=VARCHAR},
            duration = #{duration,jdbcType=VARCHAR},
            start = #{start,jdbcType=VARCHAR},
            end = #{end,jdbcType=VARCHAR}
        WHERE historyId = #{historyId,jdbcType=INTEGER}
    </update>

    <select id="selectByMattressIdDateAndStart" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="BaseColumnList"/>
        FROM mattress_history
        WHERE mattressId = #{mattressId, jdbcType=VARCHAR}
        AND date = #{date, jdbcType=VARCHAR}
        AND start = #{start, jdbcType=VARCHAR}
    </select>
    <select id="selectByMattressIdDateStartAndEnd" resultMap="BaseResultMap" parameterType="map">
        SELECT
        <include refid="BaseColumnList"/>
        FROM mattress_history
        WHERE mattressId = #{mattressId, jdbcType=VARCHAR}
        AND date = #{date, jdbcType=VARCHAR}
        AND start = #{start, jdbcType=VARCHAR}
        AND end = #{end, jdbcType=VARCHAR}
    </select>



</mapper>
