<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--namespace = 所需实现的接口全限定名-->
<mapper namespace="com.boot.dandelion.health.care.dao.mapper.UserFamilyMapper">
    <resultMap id="BaseResultMap" type="com.boot.dandelion.health.care.dao.entity.UserFamily">
        <result column="familyId" jdbcType="VARCHAR" property="familyId"/>
        <result column="familyName" jdbcType="VARCHAR" property="familyName"/>
        <result column="createTime" jdbcType="VARCHAR" property="createTime"/>
        <result column="updateTime" jdbcType="VARCHAR" property="updateTime"/>
        <result column="userId" jdbcType="VARCHAR" property="userId"/>
    </resultMap>

    <sql id="BaseColumnList">
        familyId
        ,familyName,createTime,updateTime,userId
    </sql>

    <insert id="addFamily" parameterType="com.boot.dandelion.health.care.dao.entity.UserFamily">
        insert into user_family (familyName, createTime, updateTime, userId)
        values (#{familyName,jdbcType=VARCHAR},
                #{createTime,jdbcType=VARCHAR},
                #{updateTime,jdbcType=VARCHAR},
                #{userId,jdbcType=VARCHAR}
    </insert>

    <update id="updateFamily" parameterType="com.boot.dandelion.health.care.dao.entity.UserFamily">
        update user_family
        set familyName = #{familyName,jdbcType=VARCHAR},
            updateTime = #{updateTime,jdbcType=VARCHAR},
            userId     = #{userId,jdbcType=VARCHAR},
            where familyId = #{familyId,jdbcType=VARCHAR}
    </update>

    <select id="selectByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from user_family
        where userId = #{userId,jdbcType=VARCHAR}
    </select>
</mapper>