<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.dandelion.health.care.dao.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.boot.dandelion.health.care.dao.entity.User">

        <result column="userId" jdbcType="INTEGER" property="userId"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="userName" jdbcType="VARCHAR" property="userName"/>
        <result column="tel" jdbcType="VARCHAR" property="tel"/>
        <result column="gender" jdbcType="VARCHAR" property="gender"/>
        <result column="createTime" jdbcType="VARCHAR" property="createTime"/>
        <result column="updateTime" jdbcType="VARCHAR" property="updateTime"/>

    </resultMap>

    <sql id="BaseColumnList">
        userId,tel, password,gender, userName, createTime, updateTime
    </sql>


    <insert id="insert" parameterType="com.boot.dandelion.health.care.dao.entity.User">
        insert into tb_user (tel, password,
                             updateTime, userName, createTime, gender)
        values (#{tel,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
                #{updateTime,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR})
    </insert>

    <select id="selectUserByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from tb_user
        where userName = #{userName,jdbcType=VARCHAR}
    </select>

    <select id="selectUserByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from tb_user
        where userId = #{userId,jdbcType=INTEGER}
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select userId, tel, password, updateTime, name, createTime
        from tb_user
        where userId = #{userId,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select userId, tel, password, updateTime, name, createTime
        from tb_user
    </select>

    <select id="selectUserByTel" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from tb_user
        where tel = #{tel,jdbcType=INTEGER}
    </select>
</mapper>
