<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.dandelion.health.care.dao.mapper.WatchBloodOxygenMapper">

    <resultMap id="BaseResultMap" type="com.boot.dandelion.health.care.dao.entity.WatchBloodOxygen">
        <result column="oxygenId" jdbcType="INTEGER" property="oxygenId"/>
        <result column="watchId" jdbcType="VARCHAR" property="watchId"/>
        <result column="lastUpdate" jdbcType="VARCHAR" property="lastUpdate"/>
        <result column="bloodOxygen" jdbcType="VARCHAR" property="bloodOxygen"/>
    </resultMap>

    <sql id="BaseColumnList">
        oxygenId, watchId, lastUpdate, bloodOxygen
    </sql>

    <insert id="insert" parameterType="com.boot.dandelion.health.care.dao.entity.WatchBloodOxygen">
        insert into watch_blood_oxygen (watchId, lastUpdate, bloodOxygen)
        values (
                   #{watchId,jdbcType=VARCHAR},
                   #{lastUpdate,jdbcType=VARCHAR},
                   #{bloodOxygen,jdbcType=VARCHAR}
               )
    </insert>

    <update id="update" parameterType="com.boot.dandelion.health.care.dao.entity.WatchBloodOxygen">
        update watch_blood_oxygen
        set lastUpdate = #{lastUpdate,jdbcType=VARCHAR},
            bloodOxygen = #{bloodOxygen,jdbcType=VARCHAR}
        where oxygenId = #{oxygenId,jdbcType=INTEGER}
          and watchId = #{watchId,jdbcType=VARCHAR}
    </update>

    <delete id="deleteById" parameterType="map">
        delete from watch_blood_oxygen
        where oxygenId = #{oxygenId,jdbcType=INTEGER}
    </delete>

    <select id="selectByWatchIdAndDate" resultMap="BaseResultMap" parameterType="map">
        SELECT <include refid="BaseColumnList"/>
        FROM watch_blood_oxygen
        WHERE watchId = #{watchId, jdbcType=VARCHAR}
        AND lastUpdate LIKE CONCAT(#{date, jdbcType=VARCHAR}, '%')
        ORDER BY lastUpdate ASC
    </select>

</mapper>
